<h2 mat-dialog-title class="title">Add Vacation</h2>
<mat-dialog-content>
  <p>What's your favorite animal?</p>
  <mat-form-field>
    <mat-label>Favorite Animal</mat-label>
    <!-- <mat-select>
      @for (data of datas; track data) {
      <mat-option [value]="datas">{{ data }}</mat-option>
      }
    </mat-select> -->
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button>No Thanks</button>
  <button mat-button mat-dialog-close cdkFocusInitial>Ok</button>
</mat-dialog-actions>
